@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root{
    --cor-texto-preto: #000;
    --cor-texto-branco: #fff;
    --cor-background-preto: #000;
    --cor-background-branco: #fff;
}

body{
    /* background-color: #000; */
    font-family: 'Dosis', sans-serif;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: #2b2b2b;
}

::-webkit-scrollbar-thumb{
    background: #fcd800;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background: #dabb00;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1% 1% 1% 1%;
    overflow-y: hidden;
}

.header-scroll{
    top: 0px;
    background-color: #231f207d;
    backdrop-filter: blur(5px);
}

.softcom-logo{
    width: 15em;
}

.header-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.menu-solucoes{
    display: flex;
    list-style: none;
}

.header-link{
    color: var(--cor-texto-preto);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.5s;
}

.header-link:hover{
    color: #ebc900;
}

.header-fale-conosco{
    display: flex;
    justify-content: center;
    font-weight: 500;
    color: var(--cor-texto-preto);
    transition: 0.5s;
}

.div-button{
    display: flex;
    gap: 20px;
}

.header-proposta{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 500;
    color: var(--cor-texto-preto);
    text-decoration: none;
    border: 0.1em solid;
    width: 12em;
    height: 2.6em;
    border-radius: 5em;
    transition: background-color 0.5s ease;
    transition: 0.5s;
    overflow-y: hidden;
}

.header-proposta:hover{
    font-weight: 600;
    color: var(--cor-texto-preto);
    background-color: #fcd800;
}

.mensage-icon{
    filter: brightness(0%);
    transition: 0.5s;
} 

/* .header-proposta:hover .mensage-icon{
    filter: brightness(0%);
} */

.icon-user{
    width: 2em;
}

.main-page{
    background-color: #fcd800;
}

.banner{
    display: flex;
    flex-direction: column;
}

.banner-pix{
    
}

.banner-main{
    width: 100%;
    height: 47em;
}

.intro{
    margin-top: 0%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 1%;
    padding: 5%;
    display: flex;
    justify-content: center;
    color: var(--cor-texto-preto);
    font-size: 1.2rem;
}

.mid-page{
    color: var(--cor-texto-preto);
    display: flex;
    justify-content: center;
}

.segmentos{
    display: flex;
    flex-direction: column;
}

.container-segmentos{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 60px;
    margin-bottom: 4em;
}


.segmentos-images{
    width: 7em;
}

.segmentos-links{
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-decoration: none;
    gap: 20px;
    color: var(--cor-texto-preto);
    transition: 0.7s;
}

.segmentos-links:hover{
    background-color: #fcd800;
    border: 1px solid var(--cor-background-preto);
    box-shadow: 0.1em 1.5em 1em var(--cor-background-preto);
    border-radius: 0.5em;
}

.line-yellow{
    border-bottom: 2px solid #fcd800;
}

.ver-mais{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fcd800;
    margin-left: 25em;
    margin-right: 25em;;
    font-weight: 600;
}

.container-segmentos span{
    font-size: 1.3rem;
    font-weight: 600;
}

.segmentos p{
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    margin-bottom: 6%;
    text-align: center;
}

h1{
    display: flex; 
    justify-content: center;
    margin-bottom: 0.2em;
    font-size: 5rem;
    transition: 0.5s;
}

h1:hover{
    color: #fcd800;
}

.strong-yellow{
    color: #fcd800;
}

.baseboard{
    background-color: #fcd800;
    padding: 2%;
    text-align: center;
    margin-top: auto;
    font-size: 1.5rem;
    font-weight: 400;
}

.baseboard-link{
    text-decoration: none;
    color: #000;
}

@media(max-width: 1308px){

}