@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background-color: #000;
    font-family: 'Dosis', sans-serif;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: #2b2b2b;
}

::-webkit-scrollbar-thumb{
    background: #fcd800;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background: #dabb00;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1% 1% 1% 1%;
    overflow-y: hidden;
}

.header-scroll{
    top: 0px;
    background-color: #231f207d;
    backdrop-filter: blur(5px);
}

.softcom-logo{
    width: 14em;
}

.header-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.menu-solucoes{
    display: flex;
    list-style: none;
}

#solucoes-dropdown {
    display: none;
    position: absolute;
    background-color: #231f207d;
    z-index: 1;
  }
  
  #solucoes:hover #solucoes-dropdown {
    display: block;
  }

.header-link{
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.7s;
}

.header-link:hover{
    color: #ebc900;
}

.header-fale-conosco{
    display: flex;
    justify-content: center;
    font-weight: 500;
    color: #000;
}

.div-button{
    display: flex;
    gap: 20px;
}

.header-proposta{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    border: 0.1em solid;
    width: 12em;
    height: 2.6em;
    border-radius: 5em;
    transition: background-color 0.5s ease;
    overflow-y: hidden;
}

.header-proposta:hover{
    font-weight: 600;
    color: #000;
    background-color: #fcd800;
}

.mensage-icon{
    filter: brightness(0%);
}

/* .header-proposta:hover .mensage-icon{
    filter: brightness(0%);
} */

.icon-user{
    width: 2em;
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-pix{
    
}

.banner-main{
    width: 97em;
}

