@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background-color: #000;
    font-family: 'Dosis', sans-serif;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: #2b2b2b;
}

::-webkit-scrollbar-thumb{
    background: #fcd800;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background: #dabb00;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1% 1% 1% 1%;
    overflow-y: hidden;
}

.header-scroll{
    top: 0px;
    background-color: #231f207d;
    backdrop-filter: blur(5px);
}

.softcom-logo{
    width: 15em;
}

.header-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.menu-solucoes{
    display: flex;
    list-style: none;
}

.header-link{
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.5s;
}

.header-link:hover{
    color: #ebc900;
}

.header-fale-conosco{
    display: flex;
    justify-content: center;
    font-weight: 500;
    color: #000;
    transition: 0.5s;
}

.div-button{
    display: flex;
    gap: 20px;
}

.header-proposta{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    border: 0.1em solid;
    width: 12em;
    height: 2.6em;
    border-radius: 5em;
    transition: background-color 0.5s ease;
    transition: 0.5s;
    overflow-y: hidden;
}

.header-proposta:hover{
    font-weight: 600;
    color: #000;
    background-color: #fcd800;
}

/* .mensage-icon{
    filter: brightness(0%);
}  */

.header-proposta:hover .mensage-icon{
    filter: brightness(0%);
}

.icon-user{
    width: 2em;
}

.banner{
    display: flex;
    flex-direction: column;
    
}

.banner-pix{
    
}

.banner-main{
    width: 100%;
    height: 47em;
}

.intro{
    margin-top: 0%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 1%;
    padding: 5%;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 1.2rem;
}

.mid-page{
    color: #fff;
    display: flex;
    justify-content: center;
}

.segmentos p{
    font-size: 1.5rem;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    margin-bottom: 6%;
    text-align: center;
}

.segmentos{
    display: flex;
    flex-direction: column;
}

.container-segmentos{
    text-align: left;
    padding: 40px 120px 30px 120px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.segmentos-images{
    width: 10%;
}

.line-yellow{
    border-bottom: 2px solid #fcd800;
}

h1{
    display: flex; 
    justify-content: center;
    margin-bottom: 0.2em;
    font-size: 5rem;
    transition: 0.5s;
}

h1:hover{
    color: #fcd800;
}

.strong-yellow{
    color: #fcd800;
}

.baseboard{
    background-color: #fcd800;
    padding: 2%;
    text-align: center;
    margin-top: auto;
    font-size: 1.5rem;
    font-weight: 400;
}

.baseboard-link{
    text-decoration: none;
    color: #000;
}

